<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Inviteaja.com</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo100.png" rel="icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/ilmudetil.css" rel="stylesheet">
  <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
      <a href="beranda.html"><img src="img/logo.png" alt="" title=""></a>
      <div class="garis"></div>   
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="beranda.html">Beranda</a></li>
          <li><a href="undangan.html">Undangan</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
<section id="venue">
<section id="home">
    <div class="banner-home container-fluid">
      <div class="row justify-content-center align-items-center">
      <div class="banner-home-left col-sm-4 col-xs-12 avatar" >
         <h4 class="text-profil-nama">Mobile Web Invitation</h4>
        <h4 class="text-profil-undangan font-weight-bold">Red Rose</h4>
      </div>
      <div class="banner-home-right col-sm-4 col-xs-12 text-center">
        <div class="tombolsignup">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">Share URL Undangan</button>
        </div>
      </div>
      <div class="banner-home-left col-sm-2 col-xs-4 text-left">
      <div class="tombolmodif">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">Periksa</button>
        </div>
      </div>
        <div class="banner-home-left col-sm-2 col-xs-12 text-left">
        <div class="tombollogin">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">Keluar</button>
        </div>
      </div>
      </div>
      </div>
    </div>
  </section>
  </section>

  <!--==========================
      DESAIN Section
    ============================-->
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      

        <section id="contact" class="section-with-bg wow fadeInUp">

      <div class="container">     
        
        <div class="form">
          

          </form>
        </div>

      </div>
    </section>

    <h4 class="banner-text-pertama-home"><b>HOME</b></h4>   
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="banner-home-left col-sm-6 col-xs-12 avatar" >
         <h4 class="banner-text-pertama-undangan" style="padding-top: 40px">Nama Panggilan Mempelai Putra</h4>
        <input type="text" class="form-control" placeholder="Nama Panggilan Mempelai Putra" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Nama Panggilan Mempelai Putri</h4>
        <input type="text" class="form-control" placeholder="Nama Panggilan Mempelai Putri" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Lokasi Utama Acara</h4>
        <textarea class="form-control" placeholder="Gedung ....,Jalan ....,Kota ...." style="font-style: italic;"></textarea>
       </div>


      </div>
    </section>

    <h4 class="banner-text-pertama-home"><b>HALAMAN MEMPELAI</b></h4>   
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="banner-home-left col-sm-6 col-xs-12 avatar" >
        <h4 class="banner-text-pertama-undangan">Kalimat Sambutan</h4>
        <form method="post" action="">
        <input type="text" class="form-control" placeholder="Kalimat Sambutan" style="font-style: italic;" required>
        </form>
        <br>
        <h4 class="banner-text-pertama-undangan" style="padding-top: 40px">Nama Lengkap Mempelai Putra</h4>
        <input type="text" class="form-control" placeholder="Nama Lengkap Mempelai Putra" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Nama Bapak Mempelai Putra</h4>
        <input type="text" class="form-control" placeholder="Nama Bapak Mempelai Putra" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Nama Ibu Mempelai Putra</h4>
        <input type="text" class="form-control" placeholder="Nama Ibu Mempelai Putra" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Foto Mempelai Putra</h4>
        <input type="file" style="text-align: left;font-style: italic;">
        <br><br>
        <h4 class="banner-text-pertama-undangan" style="padding-top: 40px">Nama Lengkap Mempelai Putri</h4>
        <input type="text" class="form-control" placeholder="Nama Lengkap Mempelai Putri" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Nama Bapak Mempelai Putri</h4>
        <input type="text" class="form-control" placeholder="Nama Bapak Mempelai Putri" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Nama Ibu Mempelai Putri</h4>
        <input type="text" class="form-control" placeholder="Nama Ibu Mempelai Putri" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan">Foto Mempelai Putri</h4>
        <input type="file" style="text-align: left;font-style: italic;">
      </div>
       </div>
      </div>
    </section>
   <h4 class="banner-text-pertama-home"><b>HALAMAN ACARA</b></h4>   
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="banner-home-left col-sm-6 col-xs-12 avatar" >
         <h4 class="banner-text-pertama-undangan" style="padding-top: 40px">Nama Acara</h4>
        <input type="text" class="form-control" placeholder="Nama Acara" style="font-style: italic;">
        <h4 class="banner-text-pertama-undangan" style="padding-top: 40px">Hari dan Tanggal Acara</h4>
        <div class="input-group date" id="tglnormal">
            <input type="text" class="form-control" placeholder="Cth:21/Des/2016"/> 
              <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
          </div>
          <h4 class="banner-text-pertama-undangan" style="padding-top: 40px">Waktu Pelaksanaan Acara</h4>
            <div class='input-group date' id='dtp_jam'>
              <input type="text" class="form-control" id="input_dtp_jam" placeholder="" />
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
            <h4 class="banner-text-pertama-undangan">Alamat Lokasi Acara</h4>
        <textarea class="form-control" placeholder="Alamat Lokasi Acara" style="font-style: italic;"></textarea>
       <div class="banner-home-right col-sm-6 col-xs-12 text-center">
        <br>
        <div class="tombolundangan">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">- Hapus</button>
        </div>
      </div>
      <br>
      <div class="banner-home-left col-sm-6 col-xs-12 text-center">
        <div class="tombolundangan">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">+ Tambah</button>
        </div>
      </div>
       </div>
      </div>
    </section>
    <h4 class="banner-text-pertama-home"><b>LOKASI ACARA</b></h4>   
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="banner-home-left col-sm-6 col-xs-12 avatar" >
         <h4 class="banner-text-pertama-undangan" style="padding-top: 40px">Cari Lokasi</h4>
        <input type="text" class="form-control" placeholder="Nama Acara" style="font-style: italic;">
       </div>
      </div>
    </section>
    <h4 class="banner-text-pertama-home"><b>GALERI</b></h4>   
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="banner-home-left col-sm-6 col-xs-12 avatar" >
        <h4 class="banner-text-pertama-undangan">Foto 1 </h4>
        <input type="file" style="text-align: left;font-style: italic;padding-bottom: 10px">
        <h4 class="banner-text-pertama-undangan">Foto 2</h4>
        <input type="file" style="text-align: left;font-style: italic;padding-bottom: 10px;">
        <h4 class="banner-text-pertama-undangan">Foto 3</h4>
        <input type="file" style="text-align: left;font-style: italic;padding-bottom: 10px;">
        <h4 class="banner-text-pertama-undangan">Foto 4</h4>
        <input type="file" style="text-align: left;font-style: italic;padding-bottom: 10px;">
        <h4 class="banner-text-pertama-undangan">Foto 5</h4>
        <input type="file" style="text-align: left;font-style: italic;">
        <div class="banner-home-right col-sm-6 col-xs-12 text-center">
        <br>
        <div class="tombolundangan" style="padding-bottom: 40px">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">- Hapus</button>
        </div>
      </div>
      <br>
      <div class="banner-home-left col-sm-6 col-xs-12 text-center">
        <div class="tombolundangan" style="padding-bottom: 40px">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">+ Tambah</button>
        </div>
      </div>
      <h4 class="banner-text-pertama-undangan" style="padding-top: 30px;">Embbed Youtube URL (PRIVATE) </h4>
        <input type="text" class="form-control" placeholder="Nama Acara" style="font-style: italic;">
       </div>
      </div>
    </section>
    <h4 class="banner-text-pertama-home"><b>KATA MUTIARA</b></h4>   
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="banner-home-left col-sm-6 col-xs-12 avatar" >
        <h4 class="banner-text-pertama-undangan">Kata Mutiara </h4>
        <textarea class="form-control" placeholder="Quotes, Do'a, atau Harapan" style="font-style: italic;"></textarea>
        <div class="banner-home-right col-sm-6 col-xs-12 text-center">
        <br>
        <div class="tombolundangan" style="padding-bottom: 40px">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">- Hapus</button>
        </div>
      </div>
      <br>
      <div class="banner-home-left col-sm-6 col-xs-12 text-center">
        <div class="tombolundangan" style="padding-bottom: 40px">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">+ Tambah</button>
        </div>
      </div>
       </div>
      </div>
    </section>
    <h4 class="banner-text-pertama-home"></h4>   
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
      </div>
    </section>
    <section id="home">
    <div class="banner-home container-fluid">
      <div class="row justify-content-center align-items-center">
      <div class="banner-home-left col-sm-4 col-xs-12 avatar" >
         <h4 class="text-profil-nama">Mobile Web Invitation</h4>
        <h4 class="text-profil-undangan font-weight-bold">Red Rose</h4>
      </div>
      <div class="banner-home-right col-sm-4 col-xs-12 text-center">
        <div class="tombolsignup">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">Share URL Undangan</button>
        </div>
      </div>
      <div class="banner-home-left col-sm-2 col-xs-4 text-left">
      <div class="tombolmodif">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">Periksa</button>
        </div>
      </div>
        <div class="banner-home-left col-sm-2 col-xs-12 text-left">
        <div class="tombollogin">
        <button style="width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">Keluar</button>
        </div>
      </div>
      </div>
      </div>
    </div>
  </section>
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="img/logo.png">
            <p style="text-align: justify;">Kami melayani pembuatan undangan online dan undangan cetak yang dapat anda modifikasi informasi dan
            konten kebutuhan anda
            <br>Kami juga menyediakan jasa fotografi untuk mengcapture momen yang ada dalam event anda</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4 style="text-align: center;">Kontak Kami</h4>
            <p style="text-align: justify;"> Informasi lebih lanjut untuk pemesanan invitation dan partnership, hubungi
              kami di : <br>
              <strong>Phone:</strong> 0812 - 345 - 6789<br>
              <strong>Email:</strong> info@inviteaja.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>


  <script src="js/bootstrap.min.js"></script>
  <script src="js/moment-with-locales.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  
  <script src="js/bootstrap-datetimepicker.js"></script>

  <script>
$(function() {
  // defualt script for datetimepicket
   
  $('#tglnormal').datetimepicker({
     locale:'id',
     format:'dddd,DD MMMM YYYY'
   });
   $('#dtp_jam').datetimepicker({
        format : 'HH:mm'
       });
   
  
    

});

</script>

</body>

</html>
