 <!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>Inviteaja.com</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo100.png" rel="icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
</head>
  <body>

    <!-- HOME BANNER -->    
  <section id="home">
    <div class="banner-home container-fluid">
      <div class="row justify-content-center align-items-center">
      
      <div class="banner-home-right col-sm-5 col-xs-12 text-center">
        <img src="img/logoNavbar300.png" class="img-logo">
        <h4 class="banner-text-bank"><b>Bank Transfer</b></h4>
        <div class="container">
          <div class="row row-centered">
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content" style="text-align: justify-all;">
                  <p style="font-size: 20px;text-align: justify;margin-bottom: 3px;"><b>No Transaksi</b></p>
                  <p style="font-size: 20px;text-align: justify;">Tanggal Transaksi</p>
                  <p style="font-size: 20px;text-align: justify;margin-bottom: 3px;">Pelanggan</p>
                  <p style="font-size: 20px;text-align: justify;">Pembelian</p>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content">
                  <p style="font-size: 20px;text-align: justify;margin-bottom: 3px;"><b>94580958058</b></p>
                  <p style="font-size: 20px;text-align: justify;">23 April 2019</p>
                  <p style="font-size: 20px;text-align: justify;margin-bottom: 3px;">Astuti</p>
                  <p style="font-size: 20px;text-align: justify;margin-bottom: 3px;">Web Mobile - Red Roses</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="row row-centered">
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content">
                  <p style="font-size: 20px;text-align: justify;">Harga</p>
                  <p style="font-size: 20px;text-align: justify;">Biaya Administrasi</p>
                  <br>
                  <p style="font-size: 40px;text-align: justify;"><b>Total</b></p> 
                </div>
              </div>
            </div>
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content">
                  <p style="font-size: 17px;text-align: justify;">Rp. 175.000,- (Promo)</p>
                  <p style="font-size: 17px;text-align: justify;">Rp. 430,-</p>
                  <br>
                </div>
              </div>
            </div>
      </div>
      </div>
      <p style="font-size: 50px;"><b>Rp. 175.<span style="color: red;">430</span></b></p>
      <div class="logobri">
      <img src="img/bri.jpg">
      <br>
      <p style="font-size: 25px;"><b>No. Rekening</b></p>
      <p style="font-size: 25px">38759235729358293</p>
      <br>
      <p style="font-size: 25px">CV. TEKNOLOGI ANAK BANGSA</p>
      <br>
      <br>
      <p style="font-size: 20px">Jika anda telah menyelesaikan pembayaran, klik tombol berikut</p>
      <br>
      <div class="tombollogin">
        <button style="margin-top: 20px;width: 58%" type="button" class="btn" data-toggle="modal" data-target="#" data-ticket-type="standard-access">Saya Sudah Bayar</button>
        </div>
      <br>
      
      <p style="font-size: 20px">Kami akan memproses pada jam kerja 1x24 jam</p>
                  
                  <br>
                </div>
              </div>
            </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </section>





  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>